/* Início estilo geral */
@charset "UTF-8";

@font-face {
    font-family: 'Blanka';
    src: url('../fontes/Blanka-Regular.otf') format('opentype');
    font-style: normal
}

@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --fonte1: 'Blanka', sans-serif;
    --fonte2: 'Tomorrow', sans-serif;
    --fonte3: 'Aldrich', sans-serif;
    --fonte4: 'Ubuntu', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

body {
    font-family: var(--fonte3);
}

section.imagem {
    background-size: cover;
    background-attachment: fixed;
}

section.normal {
    display: flex;
}

span.red {
    color: red;
}

span.branco {
    color: white;
}
/* Fim estilo geral */

/* Início estilo da barra de navegação */
.navegacao {
    background-color: #210705;
    display: flex;
    gap: 0.5rem;
}

.nav-item a {
    font-family: var(--fonte4);
    flex: 1;
    color: white;
    border-bottom: 1px solid;
    margin-left: 50px;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.5s ease-out;
}

.nav-item a:hover, .nav-item a:focus {
    background-color: rgb(0, 0, 65);
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    transform: translate(3px, -3px);
    transition: transform .3s, background-color .5s;
}
/* Fim estilo da barra de navegação */

/* Início estilo da sessão home */
section#home {
    background-image: url('../images/bg-tela1.jpg');
    height: 100vh;
    color: white;
}

h1 {
    font-family: var(--fonte1);
    font-size: 150px;
    text-align: center;
    line-height: 1em;
    margin-bottom: 50px;
}

h2 {
    font-family: var(--fonte2);
    margin: 0;
    font-size: 50px;
    text-align: center;
}
/* Fim estilo da sessão home */

/* Início estilo da sessão currículo */
section#curriculo {
    width: 100%;
    height: 100vh;
}

div.imagem01 {
    background-image: url('../images/meio-bg-tela-2.jpg');
    background-attachment: fixed;
    width: 50%;
    height: 100%;
}

div.resumo {
    width: 50%;
    height: 100%;
}

div.resumo h2 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    color: #114573;
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
}

div.resumo p {
    color: #114573;
    text-align: justify;
    margin-top: 40px;
    width: 80%;
}

.botao {
    width: 300px;
}

.botao button {
    margin-top: 10px;
    background: none;
    border-radius: 10px;
    border: 3px solid #114573;
    padding: 10px;
    color: #114573;
    transition: all 0.5s ease-out;
}

.botao button:hover {
    background-color: #114573;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    transform: translate(3px, -3px);
    transition: transform .3s, background-color .5s;
}
/* Fim estilo da sessão currículo */

/* Início estilo da sessão habilidades */
section#habilidades {
    height: 100vh;
    background-color: #240505e1;
}

section#habilidades::before {
    content: "";
    background-image: url('../images/danca.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
}

.habilidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidade h2 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0.1em;
    margin-top: 95px;
    margin-left: 400px;
}

.carrossel-cards {
    width: 50%;
    height: 65%;
    margin: 50px auto;
    position: relative;
    display: flex;
    align-items: center;
    border: 0.3rem solid white;
    border-radius: 10px;
    transition: filter .5s ease-in-out;
}

.card-imagem {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s ease-in-out;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    object-fit: contain;
}
/* Fim estilo da sessão habilidades */

/* Início estilo da sessão agendas e planos */
section#agendaeplanos {
    background-color: #021220;
    color: red;
    width: 100%;
    height: 100vh;
}

div.agenda {
    margin-top: 75px;
    height: 100%;
    width: 50%;
    text-align: center;
}

.agenda h3 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    border-left: 10px solid white;
    background-color: rgba(0, 0, 0, 0.093);
    width: 290px;
    padding: 0;
}

.calendario {
    margin-left: 55px;
}

.tabela {
    width: 90%;
    height: 100%;
}

th, td {
    color: white;
    background-color: #013330;
    border-radius: 10px;
    margin-top: 10px;
}

.hora-dia {
    background-color: #15293B;
}

.bg-hora-m {
    background-color: #0B68BA;
}

.bg-hora-t {
    background-color: #073E6E;
}

.bg-hora-n {
    background-color: #07223a;
}

.bg-emuso {
    background-color: #210705;
}

div.planos {
    margin-top: 75px;
    height: 100%;
    width: 50%;
    text-align: center;
}

div.planos::before {
    content: "";
    background-image: url('../images/bg-tela-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.planos h3 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    border-left: 10px solid white;
    background-color: rgba(0, 0, 0, 0.538);
    width: 335px;
    padding: 0;
}

.info-planos {
    text-align: center;
    margin-top: 150px;
    color: white;
    width: 70%;
}

.info-planos p {
    padding: 15px 0;
    font-size: 24px;
    margin-top: 50px;
    border: 5px solid #FFF;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.info-turma {
    background-color: rgba(52, 78, 65, 0.5);
}

.info-particular {
    background-color: rgba(52, 78, 65, 0.9);
}

.info-personal {
    background-color: #013330;
}

.info-planos p:hover {
    background-color: transparent;
    color: red;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
    transition: .3s, background-color .5s;
}
/* Fim estilo da sessão agendas e planos */

/* Início estilo da sessão contatos */
section#contatos {
    background-image: url('../images/bg-tela5.jpg');
    text-align: center;
    color: white;
    height: 100%;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contato h2 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    margin-top: 90px; 
}

.cards-contatos {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.mensageiros {
    height: 500px;
    width: 338px;
    background-color: rgba(217, 217, 217, 0.5);
    margin-bottom: 20px;
}

.mensageiros h6 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    margin-top: 30px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.ico-whatsapp {
    background: linear-gradient(180deg, #20B038 0%, #60D66A 100%);
    padding: 15px 20px 16px 0;
    border-radius: 9px 0 0 9px;
}

.ico-gmail {
    background: linear-gradient(180deg, rgba(197, 34, 31, 0.75) 0%, rgba(235, 69, 54, 0.75) 100%);
    padding: 15px 60px 16px 0;
    border-radius: 9px 0 0 9px;
}

.ico-telegram {
    background: linear-gradient(180deg, #2BA9ED 0%, #239FD9 100%);
    padding: 16px 32px 17px 2px;
    border-radius: 9px 0 0 9px;
}

.ico-telegram img {
    border: 1px solid;
    border-radius: 50px;
}

.rede-social {
    height: 500px;
    width: 338px;
    background-color: rgba(217, 217, 217, 0.5);
    margin-bottom: 20px;
}

.rede-social h6 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    margin-top: 30px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.ico-instagram {
    background: radial-gradient(50% 50.00% at 50% 50.00%, #FF543D 0%, #C736AA 100%);
    padding: 15px 20px 16px 0;
    border-radius: 11px 0 0 11px;
}

.ico-facebook {
    background: #1877F2;
    padding: 16px 26px 17px 2px;
    border-radius: 9px 0 0 9px;
}

.ico-facebook img {
    border: 1px solid;
    border-radius: 50px;
}

.canais {
    height: 500px;
    width: 338px;
    background-color: rgba(217, 217, 217, 0.5);
    margin-bottom: 20px;
}

.canais h6 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    margin-top: 30px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.ico-youtube {
    background: #F00;
    padding: 15px 30px 16px 0;
    border-radius: 12px 0 0 12px;
}

.ico-youtube img {
    width: 90px;
    height: 20px;
    background-color: white;
    border-radius: 15px;
}

.ico-linkedin {
    background: #195C82;
    padding: 15px 30px 16px 0;
    border-radius: 5px 0 0 5px;
}

.ico-spotify {
    background: #0dbd5f;
    padding: 16px 30px 17px 2px;
    border-radius: 9px 0 0 9px;
}

.ico-spotify img {
    border: 1px solid;
    border-radius: 50px;
}

.icons {
    width: 195px;
    height: 50px;
    margin-top: 30px;
}

.icons img {
    width: 50px;
    height: 50px;
}

.icons a {
    text-decoration: none;
    color: white;
}
/* Fim estilo da sessão contatos */