/* Início estilo geral */
@charset "UTF-8";

@font-face {
    font-family: 'Blanka';
    src: url('../fontes/Blanka-Regular.otf') format('opentype');
    font-style: normal
}

@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --fonte1: 'Blanka', sans-serif;
    --fonte2: 'Tomorrow', sans-serif;
    --fonte3: 'Aldrich', sans-serif;
    --fonte4: 'Ubuntu', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

body {
    font-family: var(--fonte3);
}

section.imagem {
    background-size: cover;
    background-attachment: fixed;
}

section.normal {
    display: flex;
}

span.red {
    color: red;
}

span.branco {
    color: white;
}
/* Fim estilo geral */

/* Início estilo da barra de navegação */
.nav-item > a {
    font-family: var(--fonte4);
    color: rgb(0, 0, 0);
}

nav.navbar-transparente {
    background-color: rgba(217, 217, 217, 0.2);
}
/* Fim estilo da barra de navegação */

/* Início estilo da sessão home */
section#home {
    background-image: url(../images/bg-tela1.jpg);
    height: 715px;
    color: white;
}

h1 {
    font-family: var(--fonte1);
    font-size: 150px;
    text-align: center;
    line-height: 1em;
    margin-bottom: 50px;
}

h2 {
    font-family: var(--fonte2);
    margin: 0;
    font-size: 50px;
    text-align: center;
}
/* Fim estilo da sessão home */

/* Início estilo da sessão currículo */
div.imagem01 {
    background-image: url(../images/meio-bg-tela-2.jpg);
    
    background-attachment: fixed;
    background-position: right center;
    width: 740px;
    height: 778px;
}

div.resumo {
    width: 600px;
    height: 650px;
}

div.resumo h2 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    color: #114573;
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
}

div.resumo > p {
    color: #344E41;
    text-align: justify;
    margin-top: 50px;
}

.botao {
    width: 300px;
}

.botao > button {
    margin: 25px;
    background: none;
    border-radius: 10px;
    border: 3px solid #344E41;
    padding: 10px;
    color: #344E41;
}

div.resumo .botao button:hover {
    background-color: #344E41;
    color: white;
}
/* Fim estilo da sessão currículo */

/* Início estilo da sessão habilidades */
section#habilidades {
    height: 100vh;
    background-color: #240505e1;
}

section#habilidades::before {
    content: "";
    background-image: url('../images/bg-tela5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}

div.habilidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidade h2 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0.1em;
    margin: 90px auto 10px;
}

.carrossel-cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    perspective: 4000px;
}

.cards-carrosel {
    display: flex;
    justify-content: center;
    width: calc(100vw / 4 - 10%);
    transform-style: preserve-3d;
    transition: transform 0.4s ease-in;
}

.card-link {
    border: 0.3rem solid white;
    width: 100%;
    height: 50vh;
    position: absolute;
    transition: filter .5s ease-in-out;
    margin-top: 50px;
}

.card-link:nth-child(1) {
    transform: rotateY(15deg) translateZ(50vw);
}

.card-link:nth-child(2) {
    transform: rotateY(135deg) translateZ(50vw);
}

.card-link:nth-child(3) {
    transform: rotateY(225deg) translateZ(50vw);
}

.card-link:nth-child(4) {
    transform: rotateY(345deg) translateZ(50vw);
}

.card-imagem {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    transition: 1s ease-in-out;
}

.controller {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30rem;
    bottom: 1.5rem;
    width: 100%;
    color: white;
}

.controller__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #120235;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

.controller__button:hover {
    transform: scale(1.1);
}

.controller__button:nth-child(1) {
    margin: 0 3.75rem;
}

.controller__button:nth-child(3) {
    margin: 0 3.75rem;
}

.controller__button--active {
    background-color: white;
    color: #120235;
    border: 0.1875rem solid #120235;
}

.controller__line {
    background-color: white;
    width: 50%;
    height: 2px;
    position: absolute;
}

.card-link--hovered .card-imagem {
    transform: scale(1.4);
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, .5));
}
/* Fim estilo da sessão habilidades */

/* Início estilo da sessão agendas e planos */
section.agenda-planos {
    background-color: #021220;
    color: red;
    height: 50vw;
}

div.agenda {
    margin-top: 90px;
    height: 650px;
    width: 50%;
    text-align: center;
}

.agenda h3 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    border-left: 10px solid white;
    background-color: rgba(0, 0, 0, 0.093);
    width: 290px;
    padding: 0;
}

.calendario {
    margin-left: 55px;
}

.tabela {
    width: 90%;
    height: 400px;
}

th, td {
    color: white;
    background-color: #013330;
    border-radius: 10px;
    margin-top: 10px;
}

.hora-dia {
    background-color: #15293B;
}

.bg-hora-m {
    background-color: #0B68BA;
}

.bg-hora-t {
    background-color: #073E6E;
}

.bg-hora-n {
    background-color: #07223a;
}

.bg-emuso {
    background-color: #210705;
}

div.planos {
    margin-top: 90px;
    height: 650px;
    width: 50%;
    text-align: center;
    background-image: url('../images/bg-tela-3.jpg');
}

.planos h3 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    border-left: 10px solid white;
    background-color: rgba(0, 0, 0, 0.538);
    width: 335px;
    padding: 0;
}

.info-planos {
    text-align: center;
    margin-top: 150px;
    color: white;
    width: 70%;
}

.info-planos p {
    padding: 15px 0;
    font-size: 24px;
    margin-top: 50px;
    border: 5px solid #FFF;
    cursor: pointer;
}

.info-turma {
    background-color: rgba(52, 78, 65, 0.5);
}

.info-particular {
    background-color: rgba(52, 78, 65, 0.9);
}

.info-personal {
    background-color: #013330;
}

.info-planos p:hover {
    background-color: transparent;
    color: red;
}
/* Fim estilo da sessão agendas e planos */

/* Início estilo da sessão contatos */
section#contatos {
    background-image: url('../images/DSC01208.jpg');
    text-align: center;
    color: white;
    height: 715px;
}

.contato h2 {
    font-family: var(--fonte3);
    text-transform: uppercase;
    margin: 90px auto 10px; 
}

div.cards-contatos {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

div.mensageiros {
    height: 500px;
    width: 338px;
    background-color: rgba(217, 217, 217, 0.5);
}

div.rede-social {
    height: 500px;
    width: 338px;
    background-color: rgba(217, 217, 217, 0.5);
}

div.canais {
    height: 500px;
    width: 338px;
    background-color: rgba(217, 217, 217, 0.5);
}
/* Fim estilo da sessão contatos */